[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git

[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git

[submodule ".bashrc.d/git-aware-prompt"]
	path = .bashrc.d/git-aware-prompt
	url = git://github.com/jimeh/git-aware-prompt.git
